body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
     font-size: 1.5vw;
}
#logo{
     margin: 0px;
     padding: 16px;
     font-family: "Fredoka One", sans-serif;
     width: 16%;
     text-shadow: 3vh black;
     outline: black;
}
ul{
     margin: 0px;

}

body > header{
     background-color: pink;
     color: crimson;
     display: flex;
     height: 16vh;
     align-items: center;
     justify-content: space-around;
}

#nav-ul{
     display: flex;
}

#nav-ul >li{
     padding: 6vh;
     margin: 12vh;
}

#main-header{}

body > header > nav > ul {
     list-style: none;
     text-decoration: none;
}

.navbutton{
     color: crimson;
     text-decoration: none;
     padding: 12px;
     border: 3px solid peachpuff;
     border-radius: 20%;
}

body > main article{
     width: 70%;
     margin: auto;
}


#main-content{
     display: flex;
     justify-content: space-around;
}

#main-content > div{
     width: 70%;
}

#main-content aside {
     width: 30%;
}

form{
     text-align: center;
}

h2{
     text-align: center;
}

body > footer{
     background-color: pink;
     display: flex;
}

img{
     border-radius: 30%;
}

#footer-ul{
     display: flex;
     list-style: none;
}

#footer-ul > div > li{
     margin-left: 12px;
}

#footer-ul > div > li >a{
     color: crimson;
     text-decoration: none;
}

#sending{
     display: flex;
     list-style: none;
     color: palevioletred;

} 

#asiding > section{
     display: flex;
     list-style: none;
     color: crimson;
     background-color: pink;
}

#article-1 > header > h2{
     display: flex;
     list-style: none;
     background-color: palevioletred;
} 

#article-2 > header > h2{
     display: flex;
     list-style: none;
     background-color: palevioletred;
} 

#article-3 > header > h2 {
     display: flex;
     list-style: none;
     background-color: palevioletred;
} 

#article-1 > header > h3{
     display: flex;
     list-style: none;
     background-color: violet;
} 

#article-2 > header > h3{
     display: flex;
     list-style: none;
     background-color: violet;
} 

#article-3 > header > h3 {
     display: flex;
     list-style: none;
     background-color: violet;
} 

#forms-a{
     background-color: paleturquoise;
}

body > main > h2{
     background-color: paleturquoise;
}

body > main > h2 > form{
     background-color: palevioletred;
}

#forming-a{
     background-color: palevioletred;
}
